body{
    background-color: rgba(43, 188, 115, 0.25);
    text-align: center;
}

#productContainer {
    text-align:left;
    margin-top: 20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    width:30%;
}

#productContainer li {
    list-style-type: none; 
}

img{
    border: 2px solid red;
    margin-bottom: 20px;
    width: 100px;
    height: 125px;
}

#productName {
    margin-right: 60px;
}

#price{
    margin-left: 60px;
}