<h1>This is the Results of Your movie Search!!</h1>

<ul>
    <% parsed["Search"].forEach(function(movie){ %>
        <li><%= movie["Title"] %></li>
    <% }); %> 
</ul>

<a href="\">Return to Search!</a>